body {
  font-family: 'comic sans', sans-serif;
  background-color: #fbe4c8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  background-color: #e6fcfc;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 1em;
}
output, textarea{
    font-family: sans-serif;
}
button {
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.konversi-btn {
  background-color: #20c997;
  color: white;
}

.reset-btn {
  background-color: #f67280;
  color: white;
}

.reverse-btn {
  background-color: #c5dfff;
}

.rumus {
  margin-top: 20px;
  border-top: 1px solid #000;
  padding-top: 10px;
}

.rumus p {
  margin: 5px 0;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}